<?php
/*
	plugin julesrenard
	$Author: perrick $
	$URL: svn://o2.noparking.net:85/var/repos/opentime/cfg/config.inc.php.dist $
	$Revision: 5264 $

	Copyright (C) No Parking 2012 - 2013
*/

$param['commons_app_name'] = "Boot in Lille";
$param['commons_app_email'] = "contact@bootinlille.com";

$param['commons_opentime_medias_url'] = "";

$param['commons_password_salt'] = "faDER68sNuGs+rip98ern~leYscARe99slAM*";
$param['commons_password_loop'] = "200";

$param['commons_racaptcha_active'] = "0";
$param['commons_racaptcha_private_key'] = "6Lf-vNcSAAAAAPPYKBPDoUiCILBN-t_F8LVwqWV6";
$param['commons_racaptcha_public_key'] = "6Lf-vNcSAAAAAGL6QC9OGpSs7_n4gFXVMUMIaoRz";


$param['commons_web_url'] = "http://localhost/~perrick/lecommonsestpourmoi.com/applications/repas/";
$param['commons_web_analytics'] = "";
$param['commons_web_minifycss'] = "0";
$param['commons_web_minifyjs'] = "0";
$param['commons_web_urlrewriting'] = "0";
