<?php
/*
	application webinfrance
	$Author: perrick $
	$URL: svn://svn.noparking.net/var/repos/opentime/cfg/config.inc.php.dist $
	$Revision: 5307 $

	Copyright (C) No Parking 2012 - 2013
*/
$param['devinfrance_goal'] = "50";
$param['devinfrance_noparking_ip'] = "188.165.109.102";
$param['devinfrance_opentime_medias_url'] = "http://medias.opentime.fr/";
$param['devinfrance_uri'] = "http://devinfrance.fr/";
$param['devinfrance_web_minifycss'] = "0";
$param['devinfrance_web_minifyjs'] = "0";
$param['devinfrance_web_urlrewriting'] = "0";
$param['nb_records_home'] = "5";
